
@font-face {
    font-family: 'Helvetica Roman';
    src:url('../../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('../../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../../fonts/HelveticaNeueCyr-Roman.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}