/*variables start*/

// fonts

$regular1: 'Nikaia ItalicRegular', sans-serif;
$regular2: 'Vegur Regular', sans-serif;
$regular3: 'MyriadPro Regular', sans-serif;
$regular4: 'Nikaia Script Regular', sans-serif;
$regular5: 'MyriadPro Italic', sans-serif;
$semibold: 'MyriadPro Semibold', sans-serif;
$titillium250: 'Titillium 250wt', sans-serif;
$titillium800: 'Titillium 800wt', sans-serif;

// colors

$mainbg: #8e4423;
$mainbg2: #242729;
$inputbg: #202224;
$textmain: #e6e3bb;
$textinput: #7b7a6d;
$texthover: #8e4423;

/*variables end*/

/*px to em function start*/

@function em($px) {
  @return ($px / 16) * 1 + em;
}

/*px to em function end*/

/*media start*/
@mixin media($min-width, $max-width) {
  @media (min-width: $min-width+ 'px') and (max-width: $max-width+ 'px') {
    @content;
  }
}
@mixin media-max($width) {
  @media only screen and (max-width: $width+ 'px') {
    @content;
  }
}

@mixin media-min($width) {
  @media only screen and (min-width: $width+ 'px') {
    @content;
  }
}
/*media end*/
