@import '../../../../scss/base/helpers.scss';

.btn {
  cursor: pointer;
  height: 28px;
  margin: 0 0 0 11px;
  padding: 0 9.5px;
  font-family: $regular3;
  font-size: em(14);
  color: $textmain;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.46), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.22);
  background-color: $mainbg;
}
